body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: auto;
  margin-top: calc(50vh - 5rem);
}


.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 10rem;
  width: 10rem;
  border: 2px solid #333;
  border-radius: 5px;
  box-shadow: 0pc 0px 5px rgba(0, 0, 0, 0.5);
} 

.input{
  margin-top: 1rem;
  width: 10rem;
  height: 1.5rem;
}

form{
  display: flex;
  flex-direction: column;
}
.button{
 margin-top: .5rem;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: x-large;
}